aws_local_dev_access_key_id: "{{ lookup('env', 'AWS_LOCAL_DEV_ACCESS_KEY_ID') }}"
aws_local_dev_secret_access_key: "{{ lookup('env', 'AWS_LOCAL_DEV_SECRET_ACCESS_KEY') }}"
aws_local_dev_region: "{{ lookup('env', 'AWS_LOCAL_DEV_REGION') }}"

aws_staging_access_key_id: "{{ lookup('env', 'AWS_STAGING_ACCESS_KEY_ID') }}"
aws_staging_secret_access_key: "{{ lookup('env', 'AWS_STAGING_SECRET_ACCESS_KEY') }}"
aws_staging_region: "{{ lookup('env', 'AWS_STAGING_REGION') }}"

aws_integration_server_access_key_id: "{{ lookup('env', 'AWS_INTEGRATION_SERVER_ACCESS_KEY_ID') }}"
aws_integration_server_secret_access_key: "{{ lookup('env', 'AWS_INTEGRATION_SERVER_SECRET_ACCESS_KEY') }}"
aws_integration_server_region: "{{ lookup('env', 'AWS_INTEGRATION_SERVER_REGION') }}"

aws_prod_access_key_id: "{{ lookup('env', 'AWS_PROD_ACCESS_KEY_ID') }}"
aws_prod_secret_access_key: "{{ lookup('env', 'AWS_PROD_SECRET_ACCESS_KEY') }}"
aws_prod_region: "{{ lookup('env', 'AWS_PROD_REGION') }}"

aws_pre_prod_access_key_id: "{{ lookup('env', 'AWS_PRE_PROD_ACCESS_KEY_ID') }}"
aws_pre_prod_secret_access_key: "{{ lookup('env', 'AWS_PRE_PROD_SECRET_ACCESS_KEY') }}"
aws_pre_prod_region: "{{ lookup('env', 'AWS_PRE_PROD_REGION') }}"

aws_partners_access_key_id: "{{ lookup('env', 'AWS_PARTNERS_ACCESS_KEY_ID') }}"
aws_partners_secret_access_key: "{{ lookup('env', 'AWS_PARTNERS_SECRET_ACCESS_KEY') }}"
aws_partners_region: "{{ lookup('env', 'AWS_PARTNERS_REGION') }}"




